<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gimnasio?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">emi_*2605</property>
    <mapping resource="com/gimnasio/persistences/Usuarios.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/Paquetes.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/Ingresos.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/ClientePaquete.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/Pagos.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/Clientes.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/Personas.hbm.xml"/>
    <mapping resource="com/gimnasio/persistences/Descuentos.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
